body {
  text-align: center;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 20px;
}
body > * {
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: lightgray;
  font-weight: normal;
  padding: .5em .5em;
  white-space: nowrap;
}

td {
  border-bottom: 1px solid lightgray;
  padding: .25em .5em;
  white-space: nowrap;
}

img, td {
  vertical-align: middle;
}

.c-leaderboard,
.c-leaderboard--empty {
  width: 100%;
  max-width: 30em;
  margin: auto;
}

.c-leaderboard__title,
.c-leaderboard--empty__title {
  font-size: 1.5em;
  text-align: center;
}

.c-leaderboard__averages {
  margin-bottom: .5em;
}

.c-leaderboard__averages th,
.c-leaderboard__averages td {
  text-align: center;
}

.c-leaderboard__mean,
.c-leaderboard__entry--mean {
  background-color: burlywood;
}

.c-leaderboard__median,
.c-leaderboard__entry--median {
  background-color: aquamarine;
}

.c-leaderboard__mean.c-leaderboard__median,
.c-leaderboard__entry--mean.c-leaderboard__entry--median {
  background-color: #bdd1a2;
}

.c-leaderboard__entries th {
  text-align: left;
}

.c-leaderboard__header--actions {
  color: #667080;
}

.c-leaderboard-entry__index {
  width: 1%;
}

.c-leaderboard-entry__player-icon,
.c-leaderboard-entry__flag {
  max-width: 48px;
  max-height: 48px;
}

.c-leaderboard-entry__player {
  position: relative;
  overflow: hidden;
  width: 50%;
}

.c-leaderboard-entry__player-name {
  /* Most of this is just to get ellipsis overflow */
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding-left: 3.5em;
  box-sizing: border-box;
  text-overflow: ellipsis;
  left: 0;
  top: 50%;
  transform: translateY(-25%);
}

.c-leaderboard-entry__player-name,
.c-leaderboard-entry__country {
  color: brown;
}

.c-leaderboard-entry__country {
  text-transform: uppercase;
}

.c-leaderboard__actions td {
  border: 0;
}

.c-leaderboard__add {
  width: 100%;
  text-align: center;
}

.c-modal:before,
.c-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.c-modal:before {
  content: '';
  background-color: black;
  opacity: .5;  z-index: 1000;

}

.c-modal {
}

.c-modal > * {
  margin: auto;
  margin-top: 3em;
  z-index: 1001;
  left: 50%;
  transform: translateX(-50%);
}

.c-leaderboard-edit {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 2em;
  width: 20em;
  max-width: 95%;
}

.c-leaderboard-edit__title {
  margin-top: 0;
}

label {
  display: block;
}

label input {
  float: right;
  width: 50%;
}

.c-leaderboard-edit__actions {
  margin-top: 1em;
  text-align: right;
}

.c-leaderboard-edit__actions > * {
  text-align: left;
}
